body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

h1 {
  margin-bottom: 15px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.delete {
  color: red;
  cursor: pointer;
}
.edit {
  color: green;
  cursor: pointer;
  margin-right: 8px;
}

